In [3]:
import pandas as pd
import calendar
import requests
from sklearn import preprocessing

In [123]:
def map_gender(gender):
    if gender=='M':
        return "Male"
    else:
        return "Female"

In [124]:
def map_race(race):  
    if race=='A' or race=='Asian/Pacific Islander':
        return "Asian"
    elif race=='W' or race=='White':
        return 'White'
    elif race=='H' or race=='Hispanic/Latino':
        return 'Hispanic'
    elif race=='B' or race=='Black':
        return 'Black'
    elif race=='N' or race=='Native American':
        return 'Native American'
    else:
        return "Other"

In [1]:
state_mapping = {
    "AL": "Alabama",
    "AK": "Alaska",
    "AS": "American Samoa",
    "AZ": "Arizona",
    "AR": "Arkansas",
    "CA": "California",
    "CO": "Colorado",
    "CT": "Connecticut",
    "DE": "Delaware",
    "DC": "District Of Columbia",
    "FM": "Federated States Of Micronesia",
    "FL": "Florida",
    "GA": "Georgia",
    "GU": "Guam",
    "HI": "Hawaii",
    "ID": "Idaho",
    "IL": "Illinois",
    "IN": "Indiana",
    "IA": "Iowa",
    "KS": "Kansas",
    "KY": "Kentucky",
    "LA": "Louisiana",
    "ME": "Maine",
    "MH": "Marshall Islands",
    "MD": "Maryland",
    "MA": "Massachusetts",
    "MI": "Michigan",
    "MN": "Minnesota",
    "MS": "Mississippi",
    "MO": "Missouri",
    "MT": "Montana",
    "NE": "Nebraska",
    "NV": "Nevada",
    "NH": "New Hampshire",
    "NJ": "New Jersey",
    "NM": "New Mexico",
    "NY": "New York",
    "NC": "North Carolina",
    "ND": "North Dakota",
    "MP": "Northern Mariana Islands",
    "OH": "Ohio",
    "OK": "Oklahoma",
    "OR": "Oregon",
    "PW": "Palau",
    "PA": "Pennsylvania",
    "PR": "Puerto Rico",
    "RI": "Rhode Island",
    "SC": "South Carolina",
    "SD": "South Dakota",
    "TN": "Tennessee",
    "TX": "Texas",
    "UT": "Utah",
    "VT": "Vermont",
    "VI": "Virgin Islands",
    "VA": "Virginia",
    "WA": "Washington",
    "WV": "West Virginia",
    "WI": "Wisconsin",
    "WY": "Wyoming"
}

# Explore Police Shootings Data

In [125]:
df1 = pd.read_csv('fatal-police-shootings-data.csv')

In [126]:
df1['age'] = df1['age'].fillna(int(df1['age'].mean()))

In [127]:
df1['age'] = df1['age'].astype('int')

In [52]:
df1.columns

Index(['id', 'name', 'date', 'manner_of_death', 'armed', 'age', 'gender',
       'race', 'city', 'state', 'signs_of_mental_illness', 'threat_level',
       'flee', 'body_camera', 'longitude', 'latitude', 'is_geocoding_exact'],
      dtype='object')

In [20]:
df1.shape

(6139, 17)

In [63]:
df1.head(10)

,name,year,month,day,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,longitude,latitude,source
0,Tim Elliot,2015,January,2,shot,gun,53.0,Male,Asian,Shelton,WA,True,attack,Not fleeing,-123.122,47.247,washington_post
1,Lewis Lee Lembke,2015,January,2,shot,gun,47.0,Male,White,Aloha,OR,False,attack,Not fleeing,-122.892,45.487,washington_post
2,John Paul Quintero,2015,January,3,shot and Tasered,unarmed,23.0,Male,Hispanic,Wichita,KS,False,other,Not fleeing,-97.281,37.695,washington_post
3,Matthew Hoffman,2015,January,4,shot,toy weapon,32.0,Male,White,San Francisco,CA,True,attack,Not fleeing,-122.422,37.763,washington_post
4,Michael Rodriguez,2015,January,4,shot,nail gun,39.0,Male,Hispanic,Evans,CO,False,attack,Not fleeing,-104.692,40.384,washington_post
5,Kenneth Joe Brown,2015,January,4,shot,gun,18.0,Male,White,Guthrie,OK,False,attack,Not fleeing,-97.423,35.877,washington_post
6,Kenneth Arnold Buck,2015,January,5,shot,gun,22.0,Male,Hispanic,Chandler,AZ,False,attack,Car,-111.841,33.328,washington_post
7,Brock Nichols,2015,January,6,shot,gun,35.0,Male,White,Assaria,KS,False,attack,Not fleeing,-97.564,38.704,washington_post
8,Autumn Steele,2015,January,6,shot,unarmed,34.0,Female,White,Burlington,IA,False,other,Not fleeing,-91.119,40.809,washington_post
9,Leslie Sapp III,2015,January,6,shot,toy weapon,47.0,Male,Black,Knoxville,PA,False,attack,Not fleeing,-79.991,40.413,washington_post

In [15]:
df1['manner_of_death'].unique()

array(['shot', 'shot and Tasered'], dtype=object)

In [16]:
df1['armed'].unique()

array(['gun', 'unarmed', 'toy weapon', 'nail gun', 'knife', nan, 'shovel',
       'vehicle', 'hammer', 'hatchet', 'sword', 'machete', 'box cutter',
       'undetermined', 'metal object', 'screwdriver', 'lawn mower blade',
       'flagpole', 'guns and explosives', 'cordless drill', 'crossbow',
       'BB gun', 'metal pole', 'Taser', 'metal pipe', 'metal hand tool',
       'blunt object', 'metal stick', 'sharp object', 'meat cleaver',
       'carjack', 'chain', "contractor's level", 'railroad spikes',
       'stapler', 'beer bottle', 'unknown weapon', 'binoculars',
       'bean-bag gun', 'baseball bat and fireplace poker',
       'straight edge razor', 'gun and knife', 'ax', 'brick',
       'baseball bat', 'hand torch', 'chain saw', 'garden tool',
       'scissors', 'pole', 'pick-axe', 'flashlight', 'baton', 'spear',
       'chair', 'pitchfork', 'hatchet and gun', 'rock', 'piece of wood',
       'bayonet', 'pipe', 'glass shard', 'motorcycle', 'pepper spray',
       'metal rake', 'crowbar', 'oar', 'machete and gun', 'tire iron',
       'air conditioner', 'pole and knife', 'baseball bat and bottle',
       'fireworks', 'pen', 'chainsaw', 'gun and sword', 'gun and car',
       'pellet gun', 'claimed to be armed', 'incendiary device',
       'samurai sword', 'bow and arrow', 'gun and vehicle',
       'vehicle and gun', 'wrench', 'walking stick', 'barstool',
       'grenade', 'BB gun and vehicle', 'wasp spray', 'air pistol',
       'Airsoft pistol', 'baseball bat and knife', 'vehicle and machete',
       'ice pick', 'car, knife and mace', 'bottle', 'gun and machete',
       'microphone'], dtype=object)

In [17]:
df1['race'].unique()

array(['A', 'W', 'H', 'B', 'O', nan, 'N'], dtype=object)

In [128]:
df1['day'] = df1['date'].apply(lambda date: date.split('-')[2]).astype(int)
df1['year'] = df1['date'].apply(lambda date: date.split('-')[0]).astype(int)
df1['month'] = df1['date'].apply(lambda date: date.split('-')[1]).astype(int)
df1['month'] = df1['month'].apply(lambda x: calendar.month_name[x])
df1['gender'] = df1['gender'].apply(lambda gender: map_gender(gender))
df1['race'] = df1['race'].apply(lambda race: map_race(race))
df1['source'] = 'washington_post'

In [129]:
df1 = df1[['name','year','month','day','manner_of_death', 'armed', 
           'age','gender','race','city','state','signs_of_mental_illness', 
           'threat_level', 'flee', 'longitude', 'latitude', 'source']]

In [101]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6139 entries, 0 to 6138
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   name                     5918 non-null   object
 1   year                     6139 non-null   int32
 2   month                    6139 non-null   object
 3   day                      6139 non-null   int32
 4   manner_of_death          6139 non-null   object
 5   armed                    5931 non-null   object
 6   age                      6139 non-null   int32
 7   gender                   6139 non-null   object
 8   race                     6139 non-null   object
 9   city                     6139 non-null   object
 10  state                    6139 non-null   object
 11  signs_of_mental_illness  6139 non-null   bool
 12  threat_level             6139 non-null   object
 13  flee                     5781 non-null   object
 14  longitude                5841 non-null   float64
 15  latitude                 5841 non-null   float64
 16  source                   6139 non-null   object
dtypes: bool(1), float64(2), int32(3), object(11)
memory usage: 701.6+ KB

# Explore Police Killings Data

In [4]:
df2 = pd.read_csv('police_killings.csv', encoding = "ISO-8859-1")

In [5]:
df2 = df2[~(df2['age']=='Unknown')]

In [6]:
df2['age'] = df2['age'].astype(int)

In [7]:
df2 = df2.dropna()

In [8]:
df2.shape

(432, 34)

In [9]:
df2.columns

Index(['name', 'age', 'gender', 'raceethnicity', 'month', 'day', 'year',
       'streetaddress', 'city', 'state', 'latitude', 'longitude', 'state_fp',
       'county_fp', 'tract_ce', 'geo_id', 'county_id', 'namelsad',
       'lawenforcementagency', 'cause', 'armed', 'pop', 'share_white',
       'share_black', 'share_hispanic', 'p_income', 'h_income',
       'county_income', 'comp_income', 'county_bucket', 'nat_bucket', 'pov',
       'urate', 'college'],
      dtype='object')

In [10]:
df2.head(10)

,name,age,gender,raceethnicity,month,day,year,streetaddress,city,state,...,share_hispanic,p_income,h_income,county_income,comp_income,county_bucket,nat_bucket,pov,urate,college
0,A'donte Washington,16,Male,Black,February,23,2015,Clearview Ln,Millbrook,AL,...,5.6,28375,51367.0,54766,0.937936,3.0,3.0,14.1,0.097686,0.168510
1,Aaron Rutledge,27,Male,White,April,2,2015,300 block Iris Park Dr,Pineville,LA,...,0.5,14678,27972.0,40930,0.683411,2.0,1.0,28.8,0.065724,0.111402
2,Aaron Siler,26,Male,White,March,14,2015,22nd Ave and 56th St,Kenosha,WI,...,16.8,25286,45365.0,54930,0.825869,2.0,3.0,14.6,0.166293,0.147312
3,Aaron Valdez,25,Male,Hispanic/Latino,March,11,2015,3000 Seminole Ave,South Gate,CA,...,98.8,17194,48295.0,55909,0.863814,3.0,3.0,11.7,0.124827,0.050133
4,Adam Jovicic,29,Male,White,March,19,2015,364 Hiwood Ave,Munroe Falls,OH,...,1.7,33954,68785.0,49669,1.384868,5.0,4.0,1.9,0.063550,0.403954
5,Adam Reinhart,29,Male,White,March,7,2015,18th St and Palm Ln,Phoenix,AZ,...,79,15523,20833.0,53596,0.388704,1.0,1.0,58,0.073651,0.102955
6,Adrian Hernandez,22,Male,Hispanic/Latino,March,27,2015,4000 Union Ave,Bakersfield,CA,...,44.2,25949,58068.0,48552,1.195996,4.0,4.0,17.2,0.131461,0.203801
7,Adrian Solis,35,Male,Hispanic/Latino,March,26,2015,1500 Bayview Ave,Wilmington,CA,...,84.1,25043,66543.0,55909,1.190202,4.0,4.0,12.2,0.094347,0.090438
8,Alan Alverson,44,Male,White,January,28,2015,Pickett Runn Rd,Sunset,TX,...,66.3,16778,30391.0,38310,0.793292,2.0,1.0,37.7,0.140833,0.047601
9,Alan James,31,Male,White,February,7,2015,200 Abbie St SE,Wyoming,MI,...,26.5,22005,44553.0,51667,0.862311,3.0,2.0,18.4,0.174167,0.102692

In [11]:
df2['raceethnicity'].unique()

array(['Black', 'White', 'Hispanic/Latino', 'Unknown',
       'Asian/Pacific Islander', 'Native American'], dtype=object)

In [134]:
df2['raceethnicity'] = df2['raceethnicity'].apply(lambda race: map_race(race))
df2 = df2.rename(columns={'raceethnicity':'race'})
df2['source'] = 'guardian'

In [72]:
df2['month'].unique()

array(['February', 'April', 'March', 'January', 'May', 'June'],
      dtype=object)

In [135]:
df2 = df2[['name','year','month','day', 'armed', 
           'age','gender','race','city','state', 
           'longitude', 'latitude', 'source']]

# Join

In [136]:
final_df = pd.concat([df1,df2])

In [110]:
final_df.head(10)

,name,year,month,day,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,longitude,latitude,source
0,Tim Elliot,2015,January,2,shot,gun,53,Male,Asian,Shelton,WA,True,attack,Not fleeing,-123.122,47.247,washington_post
1,Lewis Lee Lembke,2015,January,2,shot,gun,47,Male,White,Aloha,OR,False,attack,Not fleeing,-122.892,45.487,washington_post
2,John Paul Quintero,2015,January,3,shot and Tasered,unarmed,23,Male,Hispanic,Wichita,KS,False,other,Not fleeing,-97.281,37.695,washington_post
3,Matthew Hoffman,2015,January,4,shot,toy weapon,32,Male,White,San Francisco,CA,True,attack,Not fleeing,-122.422,37.763,washington_post
4,Michael Rodriguez,2015,January,4,shot,nail gun,39,Male,Hispanic,Evans,CO,False,attack,Not fleeing,-104.692,40.384,washington_post
5,Kenneth Joe Brown,2015,January,4,shot,gun,18,Male,White,Guthrie,OK,False,attack,Not fleeing,-97.423,35.877,washington_post
6,Kenneth Arnold Buck,2015,January,5,shot,gun,22,Male,Hispanic,Chandler,AZ,False,attack,Car,-111.841,33.328,washington_post
7,Brock Nichols,2015,January,6,shot,gun,35,Male,White,Assaria,KS,False,attack,Not fleeing,-97.564,38.704,washington_post
8,Autumn Steele,2015,January,6,shot,unarmed,34,Female,White,Burlington,IA,False,other,Not fleeing,-91.119,40.809,washington_post
9,Leslie Sapp III,2015,January,6,shot,toy weapon,47,Male,Black,Knoxville,PA,False,attack,Not fleeing,-79.991,40.413,washington_post

In [92]:
final_df.shape

(6606, 21)

In [83]:
final_df.columns

Index(['name', 'year', 'month', 'day', 'manner_of_death', 'armed', 'age',
       'gender', 'race', 'city', 'state', 'signs_of_mental_illness',
       'threat_level', 'flee', 'longitude', 'latitude', 'source'],
      dtype='object')

In [84]:
final_df['year'].unique()

array([2015, 2016, 2017, 2018, 2019, 2020, 2021], dtype=int64)

In [85]:
final_df['manner_of_death'].unique()

array(['shot', 'shot and Tasered', nan], dtype=object)

In [86]:
final_df['armed'].unique()

array(['gun', 'unarmed', 'toy weapon', 'nail gun', 'knife', nan, 'shovel',
       'vehicle', 'hammer', 'hatchet', 'sword', 'machete', 'box cutter',
       'undetermined', 'metal object', 'screwdriver', 'lawn mower blade',
       'flagpole', 'guns and explosives', 'cordless drill', 'crossbow',
       'BB gun', 'metal pole', 'Taser', 'metal pipe', 'metal hand tool',
       'blunt object', 'metal stick', 'sharp object', 'meat cleaver',
       'carjack', 'chain', "contractor's level", 'railroad spikes',
       'stapler', 'beer bottle', 'unknown weapon', 'binoculars',
       'bean-bag gun', 'baseball bat and fireplace poker',
       'straight edge razor', 'gun and knife', 'ax', 'brick',
       'baseball bat', 'hand torch', 'chain saw', 'garden tool',
       'scissors', 'pole', 'pick-axe', 'flashlight', 'baton', 'spear',
       'chair', 'pitchfork', 'hatchet and gun', 'rock', 'piece of wood',
       'bayonet', 'pipe', 'glass shard', 'motorcycle', 'pepper spray',
       'metal rake', 'crowbar', 'oar', 'machete and gun', 'tire iron',
       'air conditioner', 'pole and knife', 'baseball bat and bottle',
       'fireworks', 'pen', 'chainsaw', 'gun and sword', 'gun and car',
       'pellet gun', 'claimed to be armed', 'incendiary device',
       'samurai sword', 'bow and arrow', 'gun and vehicle',
       'vehicle and gun', 'wrench', 'walking stick', 'barstool',
       'grenade', 'BB gun and vehicle', 'wasp spray', 'air pistol',
       'Airsoft pistol', 'baseball bat and knife', 'vehicle and machete',
       'ice pick', 'car, knife and mace', 'bottle', 'gun and machete',
       'microphone', 'No', 'Firearm', 'Non-lethal firearm', 'Other',
       'Knife', 'Vehicle', 'Unknown', 'Disputed'], dtype=object)

In [87]:
final_df['gender'].unique()

array(['Male', 'Female'], dtype=object)

In [88]:
final_df['race'].unique()

array(['Asian', 'White', 'Hispanic', 'Black', 'Other', 'Native American'],
      dtype=object)

In [90]:
len(final_df['city'].unique())

2756

In [137]:
final_df = final_df.reset_index().drop('index', axis=1)

In [138]:
final_df['month'] = final_df['month'].apply(lambda month: list(calendar.month_name).index(month))
final_df['date'] = pd.to_datetime(final_df[["year", "month", "day"]])

In [139]:
def change_age(age):
    try:
        age = int(age)
        return(age)
    except:
        print(age)

In [140]:
final_df['age_bins'] = pd.cut(x=final_df['age'], bins=[0, 25, 35, 45, 55, 65, 75, 85])

In [148]:
final_df['age_bins'] = final_df['age_bins'].astype(str)

In [149]:
final_df.head(5)

,name,year,month,day,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,longitude,latitude,source,date,age_bins
0,Tim Elliot,2015,1,2,shot,gun,53,Male,Asian,Shelton,WA,True,attack,Not fleeing,-123.122,47.247,washington_post,2015-01-02,"(45.0, 55.0]"
1,Lewis Lee Lembke,2015,1,2,shot,gun,47,Male,White,Aloha,OR,False,attack,Not fleeing,-122.892,45.487,washington_post,2015-01-02,"(45.0, 55.0]"
2,John Paul Quintero,2015,1,3,shot and Tasered,unarmed,23,Male,Hispanic,Wichita,KS,False,other,Not fleeing,-97.281,37.695,washington_post,2015-01-03,"(0.0, 25.0]"
3,Matthew Hoffman,2015,1,4,shot,toy weapon,32,Male,White,San Francisco,CA,True,attack,Not fleeing,-122.422,37.763,washington_post,2015-01-04,"(25.0, 35.0]"
4,Michael Rodriguez,2015,1,4,shot,nail gun,39,Male,Hispanic,Evans,CO,False,attack,Not fleeing,-104.692,40.384,washington_post,2015-01-04,"(35.0, 45.0]"

In [141]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6571 entries, 0 to 6570
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   name                     6350 non-null   object
 1   year                     6571 non-null   int64
 2   month                    6571 non-null   int64
 3   day                      6571 non-null   int64
 4   manner_of_death          6139 non-null   object
 5   armed                    6363 non-null   object
 6   age                      6571 non-null   int32
 7   gender                   6571 non-null   object
 8   race                     6571 non-null   object
 9   city                     6571 non-null   object
 10  state                    6571 non-null   object
 11  signs_of_mental_illness  6139 non-null   object
 12  threat_level             6139 non-null   object
 13  flee                     5781 non-null   object
 14  longitude                6273 non-null   float64
 15  latitude                 6273 non-null   float64
 16  source                   6571 non-null   object
 17  date                     6571 non-null   datetime64[ns]
 18  age_bins                 6564 non-null   category
dtypes: category(1), datetime64[ns](1), float64(2), int32(1), int64(3), object(11)
memory usage: 905.3+ KB

In [146]:
final_df.head(10)

,name,year,month,day,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,longitude,latitude,source,date,age_bins
0,Tim Elliot,2015,1,2,shot,gun,53,Male,Asian,Shelton,WA,True,attack,Not fleeing,-123.122,47.247,washington_post,2015-01-02,"(45, 55]"
1,Lewis Lee Lembke,2015,1,2,shot,gun,47,Male,White,Aloha,OR,False,attack,Not fleeing,-122.892,45.487,washington_post,2015-01-02,"(45, 55]"
2,John Paul Quintero,2015,1,3,shot and Tasered,unarmed,23,Male,Hispanic,Wichita,KS,False,other,Not fleeing,-97.281,37.695,washington_post,2015-01-03,"(0, 25]"
3,Matthew Hoffman,2015,1,4,shot,toy weapon,32,Male,White,San Francisco,CA,True,attack,Not fleeing,-122.422,37.763,washington_post,2015-01-04,"(25, 35]"
4,Michael Rodriguez,2015,1,4,shot,nail gun,39,Male,Hispanic,Evans,CO,False,attack,Not fleeing,-104.692,40.384,washington_post,2015-01-04,"(35, 45]"
5,Kenneth Joe Brown,2015,1,4,shot,gun,18,Male,White,Guthrie,OK,False,attack,Not fleeing,-97.423,35.877,washington_post,2015-01-04,"(0, 25]"
6,Kenneth Arnold Buck,2015,1,5,shot,gun,22,Male,Hispanic,Chandler,AZ,False,attack,Car,-111.841,33.328,washington_post,2015-01-05,"(0, 25]"
7,Brock Nichols,2015,1,6,shot,gun,35,Male,White,Assaria,KS,False,attack,Not fleeing,-97.564,38.704,washington_post,2015-01-06,"(25, 35]"
8,Autumn Steele,2015,1,6,shot,unarmed,34,Female,White,Burlington,IA,False,other,Not fleeing,-91.119,40.809,washington_post,2015-01-06,"(25, 35]"
9,Leslie Sapp III,2015,1,6,shot,toy weapon,47,Male,Black,Knoxville,PA,False,attack,Not fleeing,-79.991,40.413,washington_post,2015-01-06,"(45, 55]"

In [150]:
final_df.to_json('police-killings-integrated-dataset-2021-03-20.json.gz')

## Gun Data

In [65]:
df = pd.read_csv('nics-firearm-background-checks.csv')

In [66]:
inv_map = {v: k for k, v in state_mapping.items()}
df['state'] = df['state'].map(inv_map)

In [67]:
df = df[['month','state','totals']]
df['year'] = df['month'].apply(lambda date: date.split('-')[0]).astype(int)
df['month'] = df['month'].apply(lambda date: date.split('-')[1])
df = df[(df['year']>=2015) & (df['year']<=2021)]
df_grouped_gun = df.groupby(['month','year'])['totals'].agg('sum').reset_index()
df_grouped_gun['date'] = pd.to_datetime(df_grouped_gun['year'].astype(str) + df_grouped_gun['month'], format='%Y%m')
df_grouped_gun = df_grouped_gun.sort_values(by="date")

In [68]:
df_grouped_gun.to_csv('gun-data-by-year.csv')